@import url('https://fonts.googleapis.com/css2?family=Jost');

$color-primary: #4834D4;
$color-important: #F0932B;
$color-white: #DFF9FB;
$color-black: #000;

$raduis-normal: 5px;

// base
@import 'base/reset';
@import 'base/layout';
@import 'base/base';

// Components
@import 'components/button';
@import 'components/card';
@import 'components/counter';
@import 'components/form';
@import 'components/link';
@import 'components/progress-bar';
@import 'components/title-header';